{% extends "template.html" %}
{% set hide_messages = true %}

{% block title %}Resend confirmation instructions{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for_security('forgot_password') }}">
        {{ forgot_password_form.hidden_tag() }}
        
        {{ wtf.messages() }}
        {{ wtf.row(forgot_password_form.email) }}
        
        <div class="buttons">
            <button name="reset" type="submit">Reset Password</button>
        </div>
    </form>
{% endblock %}