{% extends "template.html" %}
{% set hide_messages = true %}

{% block title %}Log in{% endblock %}

{% block content %}
    <form action="{{ url_for_security('login') }}" method="post" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        
        {{ wtf.messages() }}
        {{ wtf.row(login_user_form.email) }}
        {{ wtf.row(login_user_form.password) }}
        {{ wtf.row(login_user_form.remember) }}
        
        <div class="buttons">
            <button name="log_in" type="submit">Log In</button>
            <a href="{{ url_for_security('forgot_password') }}">Forgot your username or password?</a>
        </div>
    </form>
{% endblock %}