{% extends "template.html" %}
{% set hide_messages = true %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for_security('reset_password', token=reset_password_token) }}">
        {{ reset_password_form.hidden_tag() }}
        
        {{ wtf.messages() }}
        {{ wtf.row(reset_password_form.password) }}
        {{ wtf.row(reset_password_form.password_confirm) }}
        
        <div class="buttons">
            <button name="reset" type="submit">Reset Password</button>
        </div>
    </form>
{% endblock %}