{% extends "template.html" %}
{% set hide_messages = true %}

{% block title %}Resend confirmation instructions{% endblock %}

{% block content %}
    <form method="post" action="url_for_security('send_confirmation')">
        {{ send_confirmation_form.hidden_tag() }}
        
        {{ wtf.messages() }}
        {{ wtf.row(send_confirmation_form.email) }}
        
        <div class="buttons">
            <button name="reset" type="submit">Reset Password</button>
        </div>
    </form>
{% endblock %}