html, body {
  height: 100%;
}

body {
  font-family: 'Georgia', serif;
  font-size: 16px;
  
  background-color: rgb(245, 245, 245);
}

h2, h3 {
  font-family: 'Garamond', 'Georgia', serif;
  font-weight: normal;
}

h2 {
  font-size: 36px;
  margin: 15px 0 5px 0;
}

h3 {
  font-size: 30px;
  margin: 15px 0 5px 0;
}


.container {
  width: 740px;
  margin: 40px auto;
  
  text-align: justify;
}

.nav {
  list-style: none;
  height: 40px;
}

.nav li {
  float: left;
  margin-right: 8px;
}

.nav li a {
  color: white;
  text-decoration: none;
  background-color: hsl(211, 49%, 43%);
  
  padding: 5px;
}

.nav li a:hover {
  background-color: hsl(211, 49%, 63%);
}

.notification {
  position: absolute;
  
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  
  line-height: 70px;
  text-align: center;
  
  font-size: 25px;
  
  cursor: pointer;
}

.notification.flash-message {
  background-color: hsl(211, 49%, 73%);
  border-bottom: 1px solid hsl(211, 49%, 53%);
  
  color: white;
}

.notification-flash-message:hover {
  background-color: hsl(211, 49%, 78%);
}

body.terminal {
  padding-left: 750px;
}

body.terminal .container {
  width: auto;
  margin: 0px;
  padding: 10px;
}

#terminal {
  position: fixed;
  
  left: 0px;
  top: 0px;
  bottom: 0px;
  
  width: 750px;
}

#terminal iframe {
  height: 100%;
  width: 100%;
}


label {
  width: 135px;
  text-align: right;
  float: left;
  font-size: 16px;
  
  margin-right: 5px;
  
  line-height: 45px;
  height: 45px;
}

input {
  width: 220px;
  display: block;
  padding: 4px;
  margin: 0 0 10px 0;
  
  height: 33px;
  
  font-size: 18px;
  color: #3A3A3A;
  font-family: Georgia, serif;
}

input[type="checkbox"] {
  width: 20px;
  height: 45px;
  margin: 0;
  display: inline-block;
}

input[type="submit"] {
  margin-left: 145px;
}

.clear {
  clear: both;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: #525252;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(211, 49%, 43%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(211, 49%, 53%);
}
::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #525252;
}
