<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" /> 
    <meta charset="utf-8" />
    
    <title>{% block title %}{% endblock title %}</title>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>

  <body>
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <p class="flash-{{ category }}">{{ message }}</p>
    {% endfor %}
    
    {% block body %}
    {% endblock body %}
  </body>
</html>
