<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" /> 
    <meta charset="utf-8" />
    
    <title>{% block title %}{% endblock title %}</title>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    
    {% block head %}
    {% endblock head %}
  </head>

  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block contents %}
      <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
          <p class="flash-{{ category }}">{{ message|safe }}</p>
        {% endfor %}
        
        <header>
          <div class="logo">
            <span class="bracket">[</span>
            <h1>Webminal</h1>
            <span class="bracket">]</span>
          </div>
          
          <ul class="nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
            
            {% if 'user' not in session %}
              <li><a href="{{ url_for('login') }}">Log In</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
            {% else %}
              <li><a href="{{ url_for('terminal') }}">Terminal</a></li>
              <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% endif %}
          </ul>
        </header>
        
        {% block body %}
        {% endblock body %}
      </div>
    {% endblock contents %}
  </body>
</html>
