{% extends "layout.html" %}

{% block title %}Login{% endblock title %}

{% block body %}
  <h2>Login</h2>
  
  <p>
    Please log in to use Webminal. If you would like to register for a new account, fill out the <a href="{{ url_for('register') }}">registration form</a>.
  </p>

  {% from "_formhelpers.html" import render_field %}
  <form method="post" action="{{ url_for('login') }}">
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    
    <div class="clearfix">
      <label for="submit"><a href="{{ url_for('forgot') }}">Forgot your password?</a></label>
      <div class="input">
        <input type="submit" name="submit" class="btn" value="Login" />
      </div>
    </div>
  </form>
{% endblock body %}

