{% extends "layout.html" %}

{% block title %}Webminal{% endblock title %}

{% block body %}
<h2>Sponsors</h2>
<pre>
   - Starting this new year 2022, I'm happy to annouce that<a href="https://www.linode.com/"> Linode </a>generously sponsored the webminal.org website 
     and forum cloud hosting and Linux servers. Since 2014, I'm using them. During this period, 
     I also roamed around different vendors like DigitalOcean, AWS, GCP, IBM Cloud and OVH but 
     honestly nothing beats Linode support team and provides different Linux distros with nice features. 
     Thank you Linode for your support!
   
</pre>
{% endblock body %}
