{% import "form.html" as wtf %}
{% set hide_messages = False %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" /> 
        <meta charset="utf-8" />
        
        <title>{% block title %}{% endblock title %}</title>

        <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        
        {% block head %}
        {% endblock head %}
    </head>

    <body class="{% block bodyclass %}{% endblock bodyclass %}">
        {% block body %}
            <div class="container">
                {% if not hide_messages %}
                    {% for category, message in get_flashed_messages(with_categories=true) %}
                        <p class="flash-{{ category }}">{{ message|safe }}</p>
                    {% endfor %}
                {% endif %}
                
                <header>
                    <h1 class="logo">
                        <a href="{{ url_for('index') }}">Webminal</a>
                    </h1>
                    
                    <ul class="nav">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                        
                        {% if current_user.is_authenticated() %}
                            <li><a href="/terminal/">Terminal</a></li>
                            <li><a href="{{ url_for('security.logout') }}">Log Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('security.login') }}">Log In</a></li>
                            <li><a href="{{ url_for('security.register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </header>
                
                {% block content %}
                {% endblock content %}
            </div>
        {% endblock body %}
    </body>
</html>
