{% extends "template.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <form method="post" class="register">
        {{ form.hidden_tag() }}
        
        {{ wtf.row(form.username, autocomplete="off") }}
        {{ wtf.row(form.email, autocomplete="off") }}
        {{ wtf.row([form.password, form.confirm], label=true, autocomplete="off") }}
        
        <div class="buttons">
            <button name="register" type="submit">Sign Up</button>
            <a href="{{ url_for('.login') }}">Already have an account?</a>
        </div>
    </form>
{% endblock %}